USE [master]
GO
/****** Object:  Database [BDPRESTAMO]    Script Date: 30/10/2024 10:40:17 a. m. ******/
CREATE DATABASE [BDPRESTAMO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDPRESTAMO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDPRESTAMO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDPRESTAMO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDPRESTAMO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDPRESTAMO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDPRESTAMO]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 30/10/2024 10:40:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLIE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIE_NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CLIE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PRESTAMO]    Script Date: 30/10/2024 10:40:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PRESTAMO](
	[ESPR_ID] [int] NOT NULL,
	[ESPR_NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADO_PRESTAMO] PRIMARY KEY CLUSTERED 
(
	[ESPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMO]    Script Date: 30/10/2024 10:40:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMO](
	[PRES_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIE_ID] [int] NULL,
	[PRES_CANTIDAD] [float] NULL,
 CONSTRAINT [PK_PRESTAMO] PRIMARY KEY CLUSTERED 
(
	[PRES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMO_ESTADO_PRESTAMO]    Script Date: 30/10/2024 10:40:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMO_ESTADO_PRESTAMO](
	[PREP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRES_ID] [int] NULL,
	[ESPR_ID] [int] NULL,
	[PREP_FECHAESTADO] [datetime] NULL,
	[PREP_REGISTRADOPOR] [int] NULL,
 CONSTRAINT [PK_PRESTAMO_ESTADO_PRESTAMO] PRIMARY KEY CLUSTERED 
(
	[PREP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
